# Go workspace file
go.work

# Environment variables
.env
.env.production

# Nix Development Environment
.direnv

# MacOS
.DS_Store

# Build artifacts
.cache/
bin/
.go/
**/.lazytf

# Output of the go coverage tool
coverage.out
coverage.html
